<div class="fondo">
  <div *ngIf="!isLoggedIn" class="cuerpo">
    <div *ngIf="!isLoggedIn" class="login-container">
      <h2>Login</h2>
      <form (submit)="login()">
        <div>
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            [(ngModel)]="username"
            name="username"
            required
          />
        </div>
        <div>
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>

  <div *ngIf="isLoggedIn" class="admin-container">
    <h2>Admin Panel</h2>
    <div class="game-list">
      <div *ngFor="let juego of juegos" class="game-item">
        <p>{{ juego.name }}</p>
        <input type="text" [(ngModel)]="juego.newUrl" placeholder="New Image URL" />
        <button (click)="updateGameUrl(juego)">Update URL</button>
      </div>
    </div>
  </div>
</div>
