/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.7); /* Black with 70% transparency */
  color: #c7d5e0;
  background-image: url('https://fotografias.larazon.es/clipping/cmsimages01/2023/05/22/502FAD24-5986-407E-AA3C-D9E7A187F2BE/grandes-companias-videojuegos-experimentan-fondo-inteligencia-artificial_69.jpg?crop=1920,1080,x0,y0&width=1280&height=720&optimize=low&format=webply');
  background-position: center; /* Positions the image in the center */
  background-attachment: fixed;
}



